In [1]:
import pandas as pd

df = pd.read_csv("superstore_clean.csv", encoding='ISO-8859-1')


print("Data preview:")
print(df.head())


print("\nColumns in dataset:")
print(df.columns)

Data preview:
   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

Columns in dataset:
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [2]:
# Display general info: data types, non-null counts
print("\nData Info:")
print(df.info())


print("\nSummary Statistics:")
print(df.describe())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9986 entries, 0 to 9985
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9986 non-null   int64
 1   Order ID       9986 non-null   object
 2   Order Date     9986 non-null   object
 3   Ship Date      9986 non-null   object
 4   Ship Mode      9986 non-null   object
 5   Customer ID    9986 non-null   object
 6   Customer Name  9986 non-null   object
 7   Segment        9986 non-null   object
 8   Country        9986 non-null   object
 9   City           9986 non-null   object
 10  State          9986 non-null   object
 11  Postal Code    9986 non-null   int64
 12  Region         9986 non-null   object
 13  Product ID     9986 non-null   object
 14  Category       9986 non-null   object
 15  Sub-Category   9986 non-null   object
 16  Product Name   9986 non-null   object
 17  Sales          9986 non-null   float64
 18  Quantity       9986 non-null   int64
 19  Discount       9986 non-null   float64
 20  Profit         9986 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None

Summary Statistics:
            Row ID   Postal Code         Sales     Quantity     Discount  \
count  9986.000000   9986.000000   9986.000000  9986.000000  9986.000000
mean   4998.275786  55206.139595    229.872779     3.789305     0.156258
std    2884.759278  32066.718706    623.477775     2.225286     0.206499
min       1.000000   1040.000000      0.444000     1.000000     0.000000
25%    2500.250000  23223.000000     17.248000     2.000000     0.000000
50%    4998.500000  57103.000000     54.384000     3.000000     0.200000
75%    7495.750000  90008.000000    209.917500     5.000000     0.200000
max    9994.000000  99301.000000  22638.480000    14.000000     0.800000

            Profit
count  9986.000000
mean     28.641480
std     234.349134
min   -6599.978000
25%       1.728000
50%       8.641350
75%      29.353800
max    8399.976000

In [3]:
# Check for missing values in each column
print("\nMissing Values:")
print(df.isnull().sum())

# Option 1: Remove rows with missing values (if they are few)
#df = df.dropna()

# Option 2: Fill missing values (for example, forward fill or fill with a default value)
# df.fillna(method='ffill', inplace=True)

Missing Values:
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [4]:
# Remove duplicate rows based on a subset of columns, for example, Order ID, Customer ID, and Product ID
df = df.drop_duplicates(subset=["Order ID", "Customer ID", "Product ID"])

# Verify duplicates removed
print("\nDuplicates after cleaning:")
print(df.duplicated().sum())

Duplicates after cleaning:
0

In [5]:
# Convert date columns to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Create a new column 'Delivery Days' which calculates the difference between Ship Date and Order Date
df['Delivery Days'] = (df['Ship Date'] - df['Order Date']).dt.days

# Verify changes
print("\nData after date conversion and feature creation:")
print(df[['Order Date', 'Ship Date', 'Delivery Days']].head())

Data after date conversion and feature creation:
  Order Date  Ship Date  Delivery Days
0 2016-11-08 2016-11-11              3
1 2016-11-08 2016-11-11              3
2 2016-06-12 2016-06-16              4
3 2015-10-11 2015-10-18              7
4 2015-10-11 2015-10-18              7